/* Theme Responsive CSS */
/* Large screen desktop */
@media (min-width: 1400px){
  .container {
      max-width: 1400px;
  }
}

@media (min-width: 1200px) and (max-width: 1299px){
}

@media (min-width: 1170px) and (max-width: 1299px){
  .header-search-box {
    width: 185px;
  }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .main-menu ul li a {
    padding: 37px 10px;
  }
  .sticky.is-sticky .main-menu li a {
    padding: 20px 10px;
  }
  #section-header .theme-logo img {
    max-width: 100% !important;
  }
  .header-search-box {
    max-width: 185px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .cart-total {
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 80%;
  }
  .featured-product-iamge {
    padding-right: 0;
  }
  .featured-product-content {
    padding-left: 0;
  }
  .about-content {
    text-align: left;
  }
  #section-header .theme-logo img {
    max-width: 100% !important;
  }
  .wishlist-icon-mobile {
    margin-right: 10px;
  }
}

/* Small and large mobile :320px. */
@media (max-width: 767px) {
  .cart-total {
    margin-top: 30px;
  }
  .cart-buttons .theme-default-button{
    padding: 8px 20px;
  }
  .search-item-image {
    width: 100%;
  }
  .search-item-content {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  #moda-compare .modal-dialog {
    max-width: 90%;
  }
  .featured-product-content{
    margin-top: 30px;
  }
  .featured-product-iamge {
    padding-right: 0;
  }
  .featured-product-content {
    padding-left: 0;
  }
  .button-group a {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 34px;
    margin-bottom: 5px;
  }
  .button-group {
    right: 5px;
    top: 5px;
  }
  .product-item:hover .cart-hover, .product-list-item:hover .cart-hover {
    bottom: 5px;
    opacity: 1;
  }
  .btn-cart {
    padding: 7px 15px;
  }
  .product-caption .product-name {
    font-size: 14px;
  }
  ul.grid-color-swatch.grid-image-swatch li label {
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
  a.product-single__thumbnail.active {
    border: 0px solid #000;
  }
  
  /* Policy Pages */
  .shopify-policy__container {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  
  .hot-deals-item .price-box {
    font-size: 16px;
  }
  .product-item .product-countdown .single-countdown {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .product-countdown .single-countdown__time {
    font-size: 14px;
  }
  .policy-content h6 {
    font-size: 14px;
  }
  .single-choose-item {
    padding: 0px;
  }
  .cart-mobile-device{
    display: block;
    visibility: visible;
  }
  .cart-desktop-device{
    display: none;
    visibility: hidden;
  }
  .banner-content_style2 {
    left: 20px;
    bottom: 20px;
  }
  .breadcrumb-wrap .breadcrumb .breadcrumb-item:before {
    margin: 0 3px;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0;
  }
  .about-content {
    text-align: left;
  }
  .breadcrumbs-title {
    margin-bottom: 10px;
  }
  .scroll-top {
    display: block;
  }
  .product-details-des {
    margin-top: 30px;
  }
  .slick-current.slick-active a.product-single__thumbnail{
    border: 1px solid #000;
    display: inline-block;
  }
  .product-label:nth-child(1) {
    top: 5px;
  }
  .product-label {
    left: 5px;
    padding: 3px 5px;
    min-width: 35px;
  }
  .product-label:nth-child(2) {
    top: 28px;
  }
  .remove-wishlist .pe-7s-close {
    font-size: 27px;
    line-height: 33px;
  }
  #section-header .theme-logo img {
    max-width: 100% !important;
  }
  .wishlist-icon-mobile {
    margin-right: 10px;
  }
  .scroll-top {
    height: 40px;
    width: 40px;
  }
  .scroll-top i {
    line-height: 40px;
    font-size: 23px;
  }
  .slide-image-all-device.sid-none{
  	display: none;
  }
  .slide-image-mobile-device{
    display: block;
  }
  .shop-product-wrap.row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .shop-product-wrap [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  
/*   .button-group a{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .cart-hover{
    bottom: 5px;
    opacity: 1;
    visibility: visible;
  } */
  #ask-question .contact-title {
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .product-details-des .useful-links {
    flex-direction: column;
  }
  .product-details-des .useful-links a {
    margin-bottom: 10px;
  }
  .comment-section ul li{
  	display: flex;
  }
  .product-details-des .product-name {
    font-size: 17px;
  }
  .pro-nav.slick-dot-style.slick-dot-style-2 ul.slick-dots {
    bottom: 0;
    top: 5px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .login-form-container {
    padding: 30px 20px;
  }
  .form-action-button .theme-default-button + .theme-default-button, 
  .cart-buttons .theme-default-button + .theme-default-button{
    margin-left: 0;
    margin-top: 20px;
  }
  .form-action-button .theme-default-button,
  .cart-buttons .theme-default-button,
  .guest-form-container .theme-default-button{
    float: left;
    width: 100%;
  }
  .for-mobile-device{
    display: block;
  }
  .for-desktop-device{
  	display: none;
  }
  .popup-image {
    margin-right: 13px;
  }
  .ajax-popup .modal-content-text p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .ajax-popup .modal-content-text h6 {
    font-size: 14px;
  }
  .ajax-popup .modal-content-text i {
    margin-right: 7px;
  }
  .ajax-popup .modal-button {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  .content-text p {
    margin-bottom: 0;
  }
  .minicart-inner .minicart-inner-content {
    max-width: 320px;
  }
  .minicart-inner .minicart-close {
    right: 320px;
  }
}

/* Skin and Color CSS */.group-item-desc .group-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h6.product-name.popup_cart_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}.section-title .title {
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#b74d3a), color-stop(#000), to(#b74d3a));
  background: -webkit-linear-gradient(left, #b74d3a, #000, #b74d3a);
  background: -o-linear-gradient(left, #b74d3a, #000, #b74d3a);
  background: linear-gradient(90deg, #b74d3a, #000, #b74d3a);
  background-repeat: no-repeat;
  background-size: 90%;
  -webkit-animation: shine 3s linear infinite;
  animation: shine 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}#preloader_active{background-color:#ffffff;height:100%;width:100%;position:fixed;z-index:999999;margin-top:0;top:0}#loading-center{width:100%;height:100%;position:relative}#loading-center-absolute{position:absolute;left:50%;top:50%;height:50px;width:50px;margin-top:-25px;margin-left:-25px;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:loading-center-absolute 1.5s infinite;animation:loading-center-absolute 1.5s infinite}.object{width:25px;height:25px;background-color:#b74d3a;float:left}#object_one{-webkit-animation:object_one 1.5s infinite;animation:object_one 1.5s infinite}#object_two{-webkit-animation:object_two 1.5s infinite;animation:object_two 1.5s infinite}#object_three{-webkit-animation:object_three 1.5s infinite;animation:object_three 1.5s infinite}#object_four{-webkit-animation:object_four 1.5s infinite;animation:object_four 1.5s infinite}@-webkit-keyframes loading-center-absolute{100%{-webkit-transform:rotate(-45deg)}}@keyframes loading-center-absolute{100%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}}@-webkit-keyframes object_one{25%{-webkit-transform:translate(0,-50px) rotate(-180deg)}100%{-webkit-transform:translate(0,0) rotate(-180deg)}}@keyframes object_one{25%{transform:translate(0,-50px) rotate(-180deg);-webkit-transform:translate(0,-50px) rotate(-180deg)}100%{transform:translate(0,0) rotate(-180deg);-webkit-transform:translate(0,0) rotate(-180deg)}}@-webkit-keyframes object_two{25%{-webkit-transform:translate(50px,0) rotate(-180deg)}100%{-webkit-transform:translate(0,0) rotate(-180deg)}}@keyframes object_two{25%{transform:translate(50px,0) rotate(-180deg);-webkit-transform:translate(50px,0) rotate(-180deg)}100%{transform:translate(0,0) rotate(-180deg);-webkit-transform:translate(0,0) rotate(-180deg)}}@-webkit-keyframes object_three{25%{-webkit-transform:translate(-50px,0) rotate(-180deg)}100%{-webkit-transform:translate(0,0) rotate(-180deg)}}@keyframes object_three{25%{transform:translate(-50px,0) rotate(-180deg);-webkit-transform:translate(-50px,0) rotate(-180deg)}100%{transform:translate(0,0) rotate(-180deg);-webkit-transform:rtranslate(0,0) rotate(-180deg)}}@-webkit-keyframes object_four{25%{-webkit-transform:translate(0,50px) rotate(-180deg)}100%{-webkit-transform:translate(0,0) rotate(-180deg)}}@keyframes object_four{25%{transform:translate(0,50px) rotate(-180deg);-webkit-transform:translate(0,50px) rotate(-180deg)}100%{transform:translate(0,0) rotate(-180deg);-webkit-transform:translate(0,0) rotate(-180deg)}}
/* Newsletter PopUp */
/* Top Bar Noticfication */

.top-notification-bar {
  background: #d28c79;
  background: -moz-linear-gradient(left, #d28c79 0%, #d28c79 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d28c79), color-stop(100%, #d28c79));
  background: -webkit-linear-gradient(left, #d28c79 0%, #d28c79 100%);
  background: -o-linear-gradient(left, #d28c79 0%, #d28c79 100%);
  background: -ms-linear-gradient(left, #d28c79 0%, #d28c79 100%);
  background: linear-gradient(to right, #d28c79 0%, #d28c79 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d28c79', endColorstr='#d28c79', GradientType=1 );
    }

.notification-entry p a.notification-button {
  background-color: #b74d3a;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.notification-entry p a.notification-button:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.notification-close-btn {
  background-color: ;
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}
.notification-close-btn:hover{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}

.notification-entry p {
  color: #000000;
}
.top-notification-bar::before {
  background: rgba(0, 0, 0, 0);
}
/* Typography *//* End Typography */
/* Custom and Customer Page */
.theme-default-margin, .shopify-challenge__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .theme-default-margin, .shopify-challenge__container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.create-custom-page{
  padding-top: 100px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .create-custom-page{
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
/* End Custom Page */
/* QuickView */

/* End Quickview */

/* ======================================================================
Name: Your Theme Color CSS file
====================================================================== */.form-control:focus {
  border-color: #b74d3a;
}
::-moz-selection {
  background: #b74d3a;
}
::selection {
  background: #b74d3a;
}
.slick-arrow-style button.slick-arrow:hover {
  color: #b74d3a;
}
.slick-arrow-style_hero button.slick-arrow:hover {
  color: #b74d3a;
}
.slick-append button:hover {
  color: #b74d3a;
}
.slick-dot-style ul.slick-dots li.slick-active button {
  border-color: #b74d3a;
  background-color: #b74d3a;
}
/* ----scroll to top css start ----*/
.scroll-top {
  background-color: #b74d3a;
}
.header-top-settings ul li .dropdown-list li a:hover {
  color: #b74d3a;
}
.header-configure-area ul li a .notification {
  background-color: #b74d3a;
}
.header-configure-area ul li a:hover {
  color: #b74d3a;
}
.header-configure-area ul li.user-hover .dropdown-list li a:hover {
  color: #b74d3a;
}
.header-search-box:hover .header-search-btn {
  color: #b74d3a;
}
.header-social-link a:hover {
  color: #b74d3a;
}
.main-menu ul li:hover>a,
.main-menu ul li.active>a {
  color: #b74d3a;
}
.main-menu ul li ul.dropdown li a:before {
  background-color: #b74d3a;
}
.main-menu ul li ul.dropdown li:hover>a {
  color: #b74d3a;
}
.main-menu ul li ul.megamenu li.mega-title span:after {
  background-color: #b74d3a;
}
.main-menu ul li ul.megamenu li:hover>a {
  color: #b74d3a;
}
.btn-text:hover {
  color: #b74d3a;
}
.btn-text:hover:before {
  background-color: #b74d3a;
}
.btn-cart:hover {
  background-color: #b74d3a;
}
.btn-cart2 {
  background-color: #b74d3a;
}
.btn-sqr {
  background-color: #b74d3a;
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a:hover {
  color: #b74d3a;
}
.mobile-main-header .mobile-menu-toggler .mini-cart-wrap .notification {
  background-color: #b74d3a;
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span {
  background-color: #b74d3a;
}
.mobile-menu li>a:hover {
  color: #b74d3a;
}
.off-canvas-contact-widget li a:hover {
  color: #b74d3a;
}
.off-canvas-social-widget a:hover {
  color: #b74d3a;
}
.off-canvas-wrapper .btn-close-off-canvas {
  background-color: #b74d3a !important;
}
.search-box-offcanvas form .search-btn:hover {
  color: #b74d3a;
}
.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:hover {
  color: #b74d3a;
}
.minicart-inner .minicart-close {
  background-color: #b74d3a;
}
.minicart-content .product-name a:hover {
  color: #b74d3a;
}
.minicart-content .cart-price {
  color: #b74d3a;
}
.minicart-remove:hover {
  color: #b74d3a;
}
.minicart-pricing-box li span strong {
  color: #b74d3a;
}
.minicart-button a:hover {
  background-color: #b74d3a;
}
.btn-hero {
  background-color: #b74d3a;
}
.policy-icon {
  color: #b74d3a;
}
.banner-content_style2 .banner-text3 a:hover {
  color: #b74d3a;
}
.custom-checkbox label a:hover,
.custom-checkbox .custom-control-label a:hover,
.custom-radio label a:hover,
.custom-radio .custom-control-label a:hover {
  color: #b74d3a;
}
.custom-checkbox input:checked~.custom-control-label:before,
.custom-checkbox input:checked label:before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:checked label:before,
.custom-radio input:checked~.custom-control-label:before,
.custom-radio input:checked label:before,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-radio .custom-control-input:checked label:before {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.twitter-feed-content p a {
  color: #b74d3a;
}
.hot-deals-item {
  border: 1px solid #b74d3a;
}
.progress-bar {
  background-color: #b74d3a!important;
}
.product-sold span,
.product-available span {
  color: #b74d3a;
}
.product-caption .product-name a:hover {
  color: #b74d3a;
}
.manufacturer-name a:hover {
  color: #b74d3a;
}
.color-categories li:hover {
  border-color: #b74d3a;
}
.button-group a:hover {
  color: #b74d3a;
}
.product-label {
  background: #b74d3a;
}
.price-regular {
  color: #b74d3a;
}
.product-content-list .product-name a:hover {
  color: #b74d3a;
}
.group-item-desc .group-product-name a:hover {
  color: #b74d3a;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item a:hover {
  color: #b74d3a;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
  color: #b74d3a;
}
.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
  background-color: #b74d3a;
}
.price-range-wrap .price-range.ui-widget-content .ui-slider-handle:before {
  background-color: #b74d3a;
}
.price-range-wrap .range-slider button.filter-btn:hover {
  background-color: #b74d3a;
}
.categories-list li:hover {
  color: #b74d3a;
}
.shop-categories li:hover a {
  color: #b74d3a;
}
.paginatoin-area .pagination-box li a:hover {
  border-color: #b74d3a;
  background-color: #b74d3a;
}
.paginatoin-area .pagination-box li.active a {
  background-color: #b74d3a;
}
.blog-title a:hover {
  color: #b74d3a;
}
.blog-meta p a {
  color: #b74d3a;
}
.blog-list-inner .blog-post-item .blog-content .blog-read-more:hover {
  color: #b74d3a;
}
.blog-sidebar .search-btn:hover {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.blog-sidebar .blog-archive li a:hover {
  color: #b74d3a;
}
.blog-sidebar .blog-tags li a:hover {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.recent-post-item .recent-post-description h6 a:hover {
  color: #b74d3a;
}
blockquote {
  border-left: 5px solid #b74d3a;
}
.blog-post-item .tag-line a:hover {
  color: #b74d3a;
}
.comment-section ul li .comment-body .reply-btn a:hover {
  border-color: #b74d3a;
  background-color: #b74d3a;
}
.single-choose-item:hover i {
  color: #b74d3a;
}
.team-member .team-thumb .team-social a:hover {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.team-member .team-content p {
  color: #b74d3a;
}
.top-bar-left .product-view-mode a:hover {
  color: #b74d3a;
}
.top-bar-left .product-view-mode a.active {
  color: #b74d3a;
}
.nice-select.open {
  border-color: #b74d3a;
}
.product-details-des .customer-rev a:hover {
  color: #b74d3a;
}
.product-details-des .useful-links a:hover {
  color: #b74d3a;
}
.product-details-des .share-icon a:hover {
  color: #b74d3a;
}
.product-details-des .group-product-table td a:hover {
  color: #b74d3a;
}
.product-review-info .nav.review-tab li a {
  border: 1px solid #b74d3a;
  background-color: #b74d3a;
}
.product-review-info .tab-content .review-description .tab-des h3 {
  color: #b74d3a;
}
.checkoutaccordion h6 {
  border-top: 3px solid #b74d3a;
}
.checkoutaccordion h6 span {
  color: #b74d3a;
}
.forget-pwd {
  color: #b74d3a;
}
.single-input-item input:active,
.single-input-item input:focus,
.single-input-item textarea:active,
.single-input-item textarea:focus {
  border-color: #b74d3a;
}
.cart-table .table thead {
  background-color: #b74d3a;
}
.cart-table .table thead tr th {
  border-color: #b74d3a;
}
.cart-table .table tbody tr td a:hover {
  color: #b74d3a;
}
.cart-update-option .apply-coupon-wrapper form input:focus,
.cart-update-option .apply-coupon-wrapper form input:active {
  border-color: #b74d3a;
}
.cart-calculator-wrapper .cart-calculate-items .table tr td.total-amount {
  color: #b74d3a;
}
.compare-table .table tbody tr td.product-image-title .category {
  color: #b74d3a;
}
.compare-table .table tbody tr td.product-image-title .title:hover {
  color: #b74d3a;
}
.compare-table .table tbody tr td.pro-ratting i {
  color: #b74d3a;
}
.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.myaccount-content .welcome a:hover {
  color: #b74d3a;
}
.myaccount-content .welcome strong {
  color: #b74d3a;
}
.saved-message {
  border-top: 3px solid #b74d3a;
}
.login-reg-form-wrap .login-reg-form-meta a {
  color: #b74d3a;
}
.contact-block li a:hover {
  color: #b74d3a;
}
.info-list li a:hover {
  color: #b74d3a;
}
.social-link a:hover {
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.newsletter-inner .news-btn {
  color: #b74d3a;
}
.copyright-text p a {
  color: #b74d3a;
}
.custom-control-label:hover {
  color: #b74d3a;
}
.theme-default-button{
  background-color: #b74d3a;
}
.shopify-payment-button .shopify-payment-button__button:hover {
  background: #b74d3a;
}
.swatch-element.color input:checked + label {
  border: 3px solid #b74d3a;
}
.spr-button-primary{
  background-color: #b74d3a;
}
.spr-icon {
  color: #b74d3a;
}
.cart-table table tbody tr td.pro-title a:hover, .cart-table table tbody tr td.pro-remove a:hover {
  color: #b74d3a;
}
.section-title a:hover {
  color: #b74d3a;
}
.collection-item h6 a:hover {
  color: #b74d3a;
}
a{
  color: #b74d3a;
}
a:hover{
  color: #b74d3a;
}
span.price-box__new, span.main, .featured-product-price span {
  color: #b74d3a;
}
.button-group a.is-active{
  color: #b74d3a;
}
span.remove-wishlist {
  color: #b74d3a;
}
.shopify-payment-button .shopify-payment-button__button:hover {
  background: #b74d3a !important;
}
.swatch-element input:checked + label {
  color: #b74d3a;
}
.ratings {
  color: #b74d3a;
}
.offcanvas-navigation ul li.menu-item-has-children .menu-expand:hover {
    color: #b74d3a;
}
.blog-sidebar .blog-tags li.active a{
  background-color: #b74d3a;
  border-color: #b74d3a;
}
.blog-category li.active > a {
  color: #b74d3a;
}
.slider-item-content .btn-text:hover {
  color: #b74d3a;
}
.slider-item-content .btn-text:hover:before {
  background-color: #b74d3a;
}
.product-variant-inventory .variant-inventory {
  color: #b74d3a;
}
.product-variant-inventory .variant-inventory {
  color: #b74d3a;
}
a.product-single__thumbnail.active {
  border: 1px solid #b74d3a;
}
.product-details-des .product-countdown .single-countdown, .featured-product-content .product-countdown .single-countdown {
  background-color: #b74d3a;
}
.quick-view-rating.rating i {
  color: #b74d3a;
}
.product-details-des .product-nav ul li a {
  background: #b74d3a;
}
.instagram-area .sub-title a{
  color: #b74d3a;
}
.pro-nav.pro-nav-media .slick-current.slick-active a{
  border: 1px solid #b74d3a;
}/* Product Grid/List */

/* End Product Grid/List */.off-canvas-wrapper .off-canvas-overlay, .minicart-inner .offcanvas-overlay{
  cursor: url("//www.fairyglint.com/cdn/shop/t/3/assets/cancel.png?v=6849663045423944821744953753"), auto;
}
.product-label.discount {
  background-color: #222;
  color: #fff;
}